<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Chivo:700|Overpass:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Abstraction Paris - Parfumerie Millésimée</title>
</head>

<body>

    <div class="container-fluid">

        <!-- NAVBAR -->

     <div class ="row haut">
        <div class="navbar col-12">
           <a href="/"><i class="fas fa-bars col-1"></i></a>
            <a class="nav-link active col-1" aria-current="page" href="/histoire">HISTOIRE</a>
            <a class="nav-link col-1" href="/parfums">PARFUMS</a>
            <a class="nav-link col-1" href="/ateliers">ATELIERS</a>
            <a href="#"><i class="fas fa-user col-1 off"></i></a>
        </div>
     </div>


        <div class ="row">
            <div class="description col-12">
                <div class="histoire">
                    <h3>PARFUMS</h3>
                </div>
            </div>
        </div>

    <!-- CARDS PARFUMS -->
        <div class ="row gammeparfums justify-content-center">
            <% 
              for(var i=0; i<parfums.length; i++) {
              %>
            <div class=" parfums card col-8 col-md-3">
                <img src="<%=parfums[i].url%>" class="card-img-top" alt="Slow Burn Desire">
                <div class="card-body text-center">
                    <h5 class="card-title text-center"><%=parfums[i].name%></h5>
                    <p class="card-text"><%=parfums[i].description%></p>
                    <a href="#" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
            <%
              }
              %>

        </div>
    </div>

<!--FOOTER-->

<div class="row foot col-13">

    <div class="titre col-lg-3 offset-1">
        <a href="/"><img class="titre col-12 d-none d-lg-block" src="../images/titremastic.png"></a>
    </div>

        <div class="col-2 offset-1 col-lg-2 offset-lg-3">
            <h6 class="bold-text "><b>MENU</b></h6>
            <ul class="list-unstyled">
                <a class="nav-link-bottom" href="/histoire"><li>Histoire</li></a>
                <a class="nav-link-bottom" href="/parfums"><li>Parfums</li></a>
                <a class="nav-link-bottom" href="/ateliers"><li>Ateliers</li></a>
            </ul>
        </div>
        
        <div class="col-2 col-lg-2">
            <h6 class="bold-text"><b>ADRESSE</b></h6>
            <p class="mb-1">22 rue Houdon</p>
            <p>75018 Paris</p>
        </div>

  <div class="col-2">
            <h6 class="bold-text d-md-block d-lg-none"><b>HORAIRES</b></h6>
                <ul class="list-unstyled d-md-block d-lg-none">
                    <li>Mardi - samedi: 11h - 19h</li>
                    <li>Dimanche: 12h - 18h</li>
                    <li>Lundi: fermé</li>
                </ul>
        </div>

        <div class="col-3">
            <h6 class="bold-text d-md-block d-lg-none"><b>CONTACT</b></h6>
            <p class="d-md-block d-lg-none">contact@abstractionparis.com</p>
        </div>

    </div>

<div class="row foot2 col-13">

    <div class="copyright col-12 text-center col-lg-3 offset-lg-1">
         <p>Abstraction Paris © All Rights Reserved.</p>
    </div>
        
        <div class="col-2 offset-1 offset-md-3">
            <h6 class="bold-text d-none d-lg-block"><b>HORAIRES</b></h6>
                <ul class="list-unstyled d-none d-lg-block">
                    <li>Mardi - samedi: 11h - 19h</li>
                    <li>Dimanche: 12h - 18h</li>
                    <li>Lundi: fermé</li>
                </ul>
        </div>

        <div class="col-2">
            <h6 class="bold-text d-none d-lg-block"><b>CONTACT</b></h6>
            <p class="d-none d-lg-block">contact@abstractionparis.com</p>
        </div>
</div>


<script src="../javascripts/script.js"></script>

    
</body>
</html>